.hero {

  &__info {
    margin-top: 20px;

    h1 {
      font-size: 70px;
      font-weight: bolder;
    }

    p {
      font-size: medium;
    }

    &__button {
      height: 50px;
    }
  }
  &__image {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.landing-image {
  width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  top: 80px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}