.hero {
  height: 80vh;

  &__info {
    margin-top: 20px;

    h1 {
      font-size: 50px;
      font-weight: bolder;
    }

    p {
      font-size: medium;
    }

    &__button {
      height: 50px;
    }
  }
  &__image {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
