@import url('https://indestructibletype.com/fonts/Jost.css');
$text-color: #000653 !default;
$danger: #FF456B !default;
$primary: #000653;
$font-size-base: 0.85rem !default;
$font-family-sans-serif:  "Jost", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$text-color: #000653 !default;
$brand-danger: #FF456B !default;
$btn-border-radius-base: 0px;
@import "~bootstrap/scss/bootstrap";

.ticket__img{ height: 350px; z-index: -1; position: relative; margin: -65px}
body {
  background: url("./assets/images/bg.png") top left no-repeat;
}
.btn {
  padding: 0.5rem 2rem!important;
  border-radius: 0;
}

.small-border-bottom:after {
  content:"";
  display:block;
  width: 2em;
  max-width:70%;
  border-bottom: 3px solid $primary;
  margin: 1em auto 0;
}

.border-radius-white-2 {
  border: #fff solid 3px;
}