@import url('https://indestructibletype.com/fonts/Jost.css');
$text-color: #06203A !default;
$danger: #FF456B !default;
$primary: #06203A;
$font-size-base: 0.75rem !default;
$font-family-sans-serif:  "Jost", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$btn-border-radius-base: 0px;
@import "~bootstrap/scss/bootstrap";

.btn {
  padding: 0.5rem 2rem!important;
  border-radius: 0;
}